/*Resets*/

* {
    margin: 0;
    padding: 0;
}

a {
    /* color: var(--link-light-font-color); */
    text-decoration: none;
}

ul {
    list-style: none;
}

h1,
h2,
h3,
p,
ul,
a {
    font-family: var(--main-font);
}

h1 {
    font-size: clamp(2.9rem, 1.09rem + 4.55vw, 4.5rem);
    font-weight: 700;
    color: var(--main-color);
}

h2 {
    font-size: clamp(2rem, 4vw + 1rem, 3rem);
    font-weight: 700;
    color: var(--main-color);
}

h3 {
    font-size: clamp(16px, 3.75vw, 20px);
    font-weight: 600;
    color: var(--main-color);
}

/*Var*/

:root {
    --white-color: #f3f5f8;
    --main-color: #1a3725;
    --secondary-color: #e6690a;
    --bg-secondary-color: rgba(230, 105, 10, 0.1);
    --main-font: Helvetica, sans-serif;
    --btn-border-radius: 8px;
    --tiny-card-border-radius: 16px;
    --medium-card-border-radius: 20px;
    --img-border-radius: 24px;
}

/*Desktop*/

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 100px;
    border-width: 0 0 1px 0;
    border-style: solid;
    border-color: #e2e8f0;
}

.logo-container {
    width: 190px;
    height: 64px;
}

.logo-container img {
    width: 100%;
    height: 100%;
}

.menu-container,
.menu-container ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
}

.menu-container ul li a {
    color: var(--main-color);
}

.contact-btn {
    background-color: var(--secondary-color);
    border-radius: 8px;
}

.contact-btn a {
    color: var(--white-color);
}

.home {
    display: flex;
    justify-content: space-around;
    padding: 80px;
}

.home-desc-container {
    display: flex;
    flex-direction: column;
    gap: 32px;
    max-width: 632px;
}

.home-desc-container p {
    color: var(--main-color);
    font-size: 20px;
}

.home-desc-container span {
    font-weight: bold;
}

.home-img-container img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.location-tag {
    background-color: var(--bg-secondary-color);
    max-width: 217px;
    padding: 6px 12px;
    border-radius: 20px;
    text-align: center;
}

.location-tag p {
    font-size: 14px;
    color: var(--secondary-color);
    font-weight: 600;
}

.btns-container {
    display: flex;
    gap: 16px;
}

.contact-btn a,
.offers-btn a {
    display: block;
    padding: 14px 28px;
}

.offers-btn {
    border-width: 2px;
    border-style: solid;
    border-color: var(--main-color);
    border-radius: 8px;
}

.offers-btn a {
    color: var(--main-color);
    text-align: center;
}

.issues {
    background-color: var(--white-color);
    padding: 100px 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 48px;
}

.issues h2 {
    max-width: 1210px;
    text-align: center;
}

.issues-cards-container {
    max-width: 1210px;
    display: flex;
    gap: 24px;
}

.issue-card {
    background-color: #ffffff;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    max-width: 282px;
    border-width: 1px;
    border-color: var(--white-color);
    border-style: solid;
    border-radius: 16px;
}

.issue-icon-container {
    background-color: var(--bg-secondary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 48px;
    height: 48px;
    border-radius: 8px;
}

.why-us {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 56px;
    padding: 100px 120px;
}

.arguments-container {
    max-width: 1200px;
    display: flex;
    gap: 64px;
}

.argument-card {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.argument-card > :first-child {
    display: flex;
    align-items: center;
    gap: 12px;
}

.values {
    background-color: var(--white-color);
    padding: 100px 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 64px;
}

.values > :first-child {
    display: flex;
    flex-direction: column;
    gap: 16px;
    text-align: center;
}

.values-cards-container {
    display: flex;
    gap: 24px;
}

.value-card {
    background-color: #ffffff;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    max-width: 330px;
    border-width: 1px;
    border-color: var(--white-color);
    border-style: solid;
    border-radius: 16px;
}

.value-icon-container {
    background-color: var(--bg-secondary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 48px;
    height: 48px;
    border-radius: 8px;
}

.contact {
    padding: 100px 120px;
}

.contact-us-container {
    background-color: var(--main-color);
    color: var(--white-color);
    display: flex;
    flex-direction: column;
    gap: 36px;
    padding: 50px;
    border-radius: 20px;
}

.contact-us-container > :first-child {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.contact-us-container h2 {
    color: var(--white-color);
}

.contact-solutions-container {
    display: flex;
    gap: 32px;
}

.contact-card {
    display: flex;
    align-items: center;
    gap: 16px;
}

.contact-card > :first-child {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 48px;
    height: 48px;
    background-color: var(--bg-secondary-color);
    border-radius: 24px;
}

.contact-us {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.contact-us > :first-child {
    font-size: 12px;
}

.contact-us > :last-child {
    font-weight: 700;
}

.contact-us a {
    color: var(--white-color);
}

footer {
    background-color: var(--main-color);
    padding: 50px 120px;
    display: flex;
    flex-direction: column;
    gap: 64px;
    font-size: 14px;
    color: var(--white-color);
}

.brand-container {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

hr {
    color: #ffffff;
    opacity: 10%;
}

.copy-container {
    display: flex;
    justify-content: space-between;
}

.copy-container p {
    opacity: 50%;
}

.rs-container {
    display: flex;
    gap: 16px;
}

.rs-bubble {
    width: 36px;
    height: 36px;
    background-color: rgba(243, 245, 248, 0.1);
    border-radius: 18px;
}

.rs-bubble a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

/* Mobile */

@media screen and (max-width: 1310px) {
    h1,
    h2,
    h3,
    p {
        text-align: center;
    }

    .menu-container ul {
        display: none;
    }

    header {
        flex-direction: column;
        gap: 32px;
    }

    .home {
        flex-direction: column;
        align-items: center;
        gap: 48px;
    }

    .home-desc-container {
        align-items: center;
    }

    .btns-container {
        flex-direction: column;
    }

    .issues-cards-container {
        flex-direction: column;
    }

    .issue-card {
        align-items: center;
    }

    .arguments-container {
        flex-direction: column;
    }

    .argument-card > :first-child {
        flex-direction: column;
        justify-content: center;
    }

    .values-cards-container {
        flex-direction: column;
    }

    .value-icon-container {
        align-self: center;
    }

    .contact {
        padding: 100px 65px;
    }

    .contact-solutions-container {
        flex-direction: column;
        align-items: center;
    }

    .brand-container,
    .copy-container {
        align-items: center;
    }

    .copy-container {
        flex-direction: column;
        gap: 16px;
    }
}
